<!--begin:Row-->
<div class="row">
	<!--begin:Col-->
	<div class="col-lg-8">
		<!--begin:Row-->
		<div class="row">
			<!--begin:Col-->
			<div class="col-lg-3 mb-6 mb-lg-0">
				<!--begin:Menu heading-->
				<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">User Profile</h4>
				<!--end:Menu heading-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/overview" class="menu-link">
						<span class="menu-title">My Profile</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/projects" class="menu-link">
						<span class="menu-title">Edit Profile</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<!--end:Menu item-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			
			<!--end:Col-->
		</div>
		<!--end:Row-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-4">
		<img src="assets/media/stock/600x600/img-82.jpg" class="rounded mw-100" alt="" />
	</div>
	<!--end:Col-->
</div>
<!--end:Row-->