@page "/user/list"
@using Starterkit.Shared.Partials.Modals;
@using Starterkit.Shared.Partials.Widgets.Tables;

<h1>List</h1>
<a href="#" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_view_users">Add User</a>
<_TablesWidget16></_TablesWidget16>